/**
 * More Container CSS Rules.
 */
.more-text {
    font-weight: 500;
    text-align: justify;
    word-wrap: break-word;
    padding-left:2em ! important;
}

.more-sub-text {
    font-weight: 500;
    text-align: justify;
    word-wrap: break-word;
    padding-left: 4em ! important;
}

/**
 * Code Snippet CSS Rules.
 */
.more-outter-code-snippet {
    padding-left: 3.5em;
}

.more-code-snippet {
    display: block;
    padding: 0.5em 0.5em 0.5em 0em;
    margin: 0.5em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #222;
    line-height: 1.3;
    overflow: auto;
}

.more-code-snippet-ol {
    padding-left: 2em;
    margin-bottom: 0;
}

.more-code-snippet-line {
    font-weight: normal;
    border-left: 2px solid #6ce26c;
    background-color: #ffffff;
    padding-left: 5px;
}

.more-code-snippet-line-important {
    background-color: #FFFF00
}

.more-code-prefix-snippet {
    color: #7f0055;
    font-weight: bold;
}

.more-code-naming-snippet {
    color: #000066;
    font-weight: bold;
}
